@tailwind base;
@tailwind components;
@tail utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.main-btn {
	@apply flex items-center space-x-2 hover:text-white;
}

.divider {
	@apply border-gray-900 border-t-2;
}

.playlist {
	@apply cursor-pointer hover:text-white;
}

.selected-playlist {
	@apply text-white;
}
